body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  background-color: #cafdf9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

#word-display {
  font-size: 34px;
  margin-bottom: 10px;

}

p {
  margin-bottom: 10px;
  font-size: 25px;
}

input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  display: block;
  width: 200px;
  padding: 10px;
  background-color: #00c3ff;
  color: #070707;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  background-color: #020e1b;
  color: #fff;
}

#next-button, #restart-button {
  display: none;
  background-color: #28a745;
}

@media (max-width: 480px) {
  .container {
      padding: 10px;
  }
  button {
      font-size: 14px;
  }
}
#message {
  font-weight: bold;
  color: #0c4a9b;
}
